body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: black;
  }




.button-container {
  text-align: center;
}

button {
  padding: 10px 20px;
}