body {
    background: gray;
    font: normal 15pt Arial;
  
  }
  
  header {
    color: black;
    text-align: center;
  }
  
  section {
    color: white;
    background: black;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(76, 175, 80, 1);
    heigth: 20px;
    leigth: 20px;
  }
  
  footer {
    color: black;
    text-align: center;
    font-style: italic;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
